*{
  font-family: 'JetBrains Mono', monospace;
  scroll-behavior: smooth;
  color: white;
}
body{
  background-image: linear-gradient(to bottom right, #23395d, #152238);
}
.navbar{
  list-style-type: none;
  margin:0;
  padding: 10px;
  overflow: hidden;
  background-color: #23395d;
  transition: all 300ms ease-in-out;
}
.navbar li{
  margin-right: 5px;
  float: left;
  background: none;
}

.navbar li a{
  color: white;
  background: none;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 500ms ease-in-out;
  border-radius: 5px;
}
.navbar li a:hover{
  color:  #FFE4C4;
  background-color: #192841;
  border: 1px solid #FFE4C4;
  box-shadow: 4px 4px 4px black;
}
h2{
  text-align: center;
}
input{
  text-align: inherit;
  background-color:#23395d;
  border: none;
  box-shadow: 2px 2px 2px black;
}
form{
  margin-left: 10px;
}
.name{
  width: 500px;
}

.comment{
  background-color: #23395d;
  border: none;
  box-shadow: 2px 2px 2px black;
}
.submit{
  border-radius: 5px;
  padding: 8px 10px;
  border: none;
  box-shadow: 3px 3px 3px black;
  border-radius: 10px;
  background-color:#23395d;
  transition: all 300ms ease-in-out;
}
.submit:hover{
  background-color: #192841;
  color: #FFE4C4;
  padding: 12px 14px;
}
