@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');


body{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #FFD1DC;
}

.navbar{
    display: flex;
    justify-content:center;
    background-color: #FFFFF7;
    border-radius: 15px;
    margin: 10px;
}

#title{
    font-family: 'Festive', cursive;
    font-size: 35px;
    padding: 0px 10px;
}

a{
    color: #306754;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: 0px 10px;
    
}

#button1, #button2{
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 999;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: 'Rozha One', serif;
    font-size:50px;
}

h3{
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #306754;
}

ul{
    display: flex;
}