*{
  font-family: 'JetBrains Mono', 'Courier';
  color: white;
}
body{
  background-image: linear-gradient(to bottom right, #23395d, #152238);
}
h3{
  text-align: center;
}
.compName, .desc{
  background-color: #23395d;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;

}
.states, .contactOption{
  color: black;
  background-color:#23395d;
}

.navbar{
  list-style-type: none;
  margin:0;
  padding: 10px;
  overflow: hidden;
  background-color: #23395d;
  transition: all 300ms ease-in-out;
}
.navbar li{
  margin-right: 5px;
  float: left;
  background: none;
}

.navbar li a{
  color: white;
  background: none;
  display: block;
  font-family: 'Roboto Light';
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 500ms ease-in-out;
  border-radius: 5px;
}
.navbar li a:hover{
  color:  #FFE4C4;
  background-color: #192841;
  border: 1px solid #FFE4C4;
  box-shadow: 4px 4px 4px black;
}
.submit{
  border-radius: 5px;
  padding: 8px 10px;
  border: none;
  box-shadow: 3px 3px 3px black;
  border-radius: 10px;
  background-color:#23395d;
  transition: all 300ms ease-in-out;
}
.submit:hover{
  background-color: #192841;
  color: #FFE4C4;
  padding: 12px 14px;
}
