*{
  font-family: 'JetBrains Mono', 'Courier';
  scroll-behavior: smooth;

}
body{
  background-image: linear-gradient(to bottom right, #23395d, #152238);
}
.header{
  color: white;
  text-align: center;
  padding: 100px 0;
  background-image: url('background.jpg');
  background-size: cover;
  margin: 0px;

}

.intro{
  color: white;
  font-size: 20px;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40,end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from{width: 0}
  to{width: 100%}
}

@keyframes blink-caret {
  from, to{border-color: transparent}
  50%{border-color: orange}
}

.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
  list-style-type: none;
  margin:0;
  padding: 10px;
  overflow: hidden;
  background-color: #23395d;
  transition: all 300ms ease-in-out;
}
.navbar li{

  margin-right: 5px;
  float: left;
  background: none;
}

.navbar li a{
  color: white;
  background: none;
  display: block;
  font-family: 'Roboto Light';
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 500ms ease-in-out;
  border-radius: 5px;
}
.navbar li a:hover{
  color:  #FFE4C4;
  background-color: #192841;
  border: 1px solid #FFE4C4;
  box-shadow: 4px 4px 4px black;
}

h1{
  color: white;
  text-align: center;
}
.about{
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.about div{
  background-color:#23395d;
  box-shadow: 3px 3px 3px black;
  width: 200px;
  height: 300px;
  margin: 10px 10px;
  transition: all 300ms ease-in-out;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
}
.experience, .project, .language{
  position: relative;
  top: 50px;
}
.about div:hover{
  box-shadow: 10px 10px 10px black;
  width: 210px;
  height: 310px;
}
.education li{
  text-align: left;
}
.skills{
  width: 180px;
  list-style: none;
  padding: 0;
}
.skills li, .language li{
  margin: 20px 0;
}
.bar{
  align-self: center;
  background: white;
  display: block;
  height: 4px;
  width: 80%;
  margin: 0 10%;
  border: 1px solid white;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 2px 2px 2px black;
}
.bar span{
  height: 4px;
  float: left;
  background: orange;
}
.html{
  width: 30%;
  animation: html 2s;
}
.java{
  width: 90%;
  animation: java 2s;
}
.python{
  width: 99%;
  animation: python 2s;
}
.cPlus{
  width: 60%;
  animation: cplus 2s;
}
.cHash{
  width: 40%;
  animation: chash 2s;
}
@keyframes html {
  0%{
    width: 0%;
  }
  100%{
    width: 30%;
  }
}
@keyframes java {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes python {
  0%{
    width: 0%;
  }
  100%{
    width: 99%;
  }
}
@keyframes cplus {
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
@keyframes chash {
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}
.language li{
  list-style: none;
}
.malay{
  width: 100%;
  animation: malay 2s;
}
.english{
  width: 80%;
  animation: english 2s;
}
.deutsch{
  width: 30%;
  animation: deutsch 2s;
}
@keyframes malay {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
@keyframes english {
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes deutsch {
  0%{
    width: 0%;
  }
  100%{
    width: 30%;
  }
}
.interests li{
  float: left;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  border: 1px solid #FFE4C4;
  margin: 5px;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}
.interests li:hover{
  padding: 12px;
  box-shadow: 3px 3px 3px black;
}

button{
  padding: 1px 10px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: orange;
  color: white;
}
table{
  margin: 0 5px;
}
table, tr, th, td{
  border: 1px solid white;
  border-collapse: collapse;
  color: white;
  font-size: 11px;
}
hr{
  border: none;
  background-image: linear-gradient(to right, yellow, red);
  border-radius: 3px;
  height: 3px;
}
.contact{
  text-align: center;
  height: 400px;
  display: grid;
  place-items: center;
}
.contact h3{
  color: white;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: white;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.button{
  color: black;
}

.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #8a3ab9;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #25D366;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #0088cc;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: white;
}
